.navbarWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  background-color: #eaedf2;
  padding: 20px;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__left > h1 {
  font-weight: 500;
  font-size: 20px;
  padding-left: 5px;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__right > a {
  padding: 10px;
}

.navbar__a--selected {
  font-weight: 800;
}

a:hover {
  cursor: pointer;
}
